<!DOCTYPE HTML>
<html>
<head>
       <title>WebSocket</title>
   </head>
<link rel="stylesheet" href="/layui/layui/css/layui.css">
<body>
<div style="width: 800px;height: 100%; margin: 0px auto;">
      <span style="color: coral; font-size: 22px;"> Welcome WebSocket</span><br/><br/>
       <div id="message">
       </div>
    <input id="text" type="text" value="123456"/>
    <button onclick="send()">发送1</button>
    <button id="send2">发送2</button>
   </div>

<br>
<div class="layui-progress" lay-showPercent="yes" lay-filter="demo">
    <div id="pbar" class="layui-progress-bar layui-bg-red" lay-percent="30%"></div>
</div>

 </body>
<script src="/layui/layui/layui.js"></script>
 <script type="text/javascript">
  var websocket = null;
  //判断当前浏览器是否支持WebSocket
  if('WebSocket' in window){
          websocket = new WebSocket("ws://localhost/webSocket");
      }else{
          alert('连接失败!!')
      }

  //连接发生错误的回调方法
  websocket.onerror = function(){
          setMessageInnerHTML("error");
      };

  //连接成功建立的回调方法
  websocket.onopen = function(event){
          setMessageInnerHTML("webSocket 连接成功~");
      };

  //接收到消息的回调方法
  websocket.onmessage = function(event){
     // setMessageInnerHTML(event.data);
          var res = JSON.parse(event.data);
          if(res.sid !== undefined){
              websocket.sid = res.sid;
              console.log(websocket.sid);
          }else {

              layui.element.progress('demo', res.persent);


          }

      };

  //连接关闭的回调方法
  websocket.onclose = function(){
          setMessageInnerHTML("close");
      };

  //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，
  // 防止连接还没断开就关闭窗口，server端会抛异常。
  window.onbeforeunload = function(){
          websocket.close();
      };

  //将消息显示在网页上
  function setMessageInnerHTML(innerHTML){
          document.getElementById('message').innerHTML += innerHTML + '<br/>';
      }

  //关闭连接
  function closeWebSocket(){
         websocket.close();
      }

  //发送消息
  function send(){
      var message = document.getElementById('text').value;
      websocket.send(message);
      console.log(websocket);
  }

  layui.use(['layer', 'form','jquery','element'], function(){
      var layer = layui.layer
          ,form = layui.form,
          element = layui.element,
            $ = layui.jquery;


      element.progress('demo', '50%');
      $('#pbar').attr('lay-percent', 'sss');
      element.render();

      $('#send2').click(function (e) {

          $.post('/start',{'sid':websocket.sid}, function (data) {
              console.log(data);
              layer.msg("success");
          },'text');

      })

  });

   </script>
 </html>